# Archivos de Python
__pycache__/
*.pyc

# Archivos de entorno virtual
.venv/
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# ignorar la carpeta "salida" y su contenido
salida/
# ignorar la carpeta "data" y su contenido
data/